@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color: rgb(231, 236, 245);
    position: sticky;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 15px grey;
}

nav{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;    
    margin: auto ;
    background-color: rgb(231, 236, 245);
    width: 90%;
    /* border: 2px solid red; */
}


.nav-list .list-item{
    display: flex;
    position: relative;
}

.nav-list .list-item li{
    list-style: none;
    padding: 0px 15px;
    position: relative;
}

.nav-list .list-item li a{
    text-decoration: none;
    color: black;
}

.nav-list .list-item li a:hover,
.nav-list .list-item li a.active{
    color: rgb(21, 109, 68);
}

.nav-list .list-item li a.active::after,
.nav-list .list-item li a:hover::after{
    content: "";
    background:rgb(21, 109, 68) ;
    position: absolute;
    height: 2px;
    width: 30%;
    left: 20px;
    bottom: -4px;
}


/* HERO */

.hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;   
    background-position: right 0 top 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.text{
    /* margin-top: 170px; */
    margin-left: 70px;
}

.text h4{
    font-size: 18px;
    padding-bottom: 10px;
}

.text h1{
    font-size: 40px;
    font-weight: 350px;
    padding-bottom: 12px;
}

.text h1 span{
    color: rgb(21, 109, 68);
}

.text p{
    font-size: 15px;
    color: grey;
    padding-bottom: 15px;
}

.text button{
    border: none ;
    background-image: url("img/button.png");
    height: 50px;
    width: 230px;
    background-color: transparent;
    color: rgb(21, 109, 68);
}

.feature{
    width: 90%;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.feature .feature-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(207, 205, 205);
    border-radius: 5px;
}

.feature .feature-box img{
    margin-top: 13px;
}

.feature .feature-box button{
    width: 100px;
    margin: 10px 0px;
    color: rgb(21, 109, 68);
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.btn1{
    background-color: pink;
}

.btn2{
    background-color: rgb(139, 207, 198) ;
}

.btn3{
    background-color: rgb(199, 143, 199);
}

.btn4{
    background-color: rgb(218, 218, 149);
}

.btn5{
    background-color: rgb(153, 250, 250);
}

.btn6{
    background-color: antiquewhite;
}