@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* UTILITIES  */

h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    padding: 0;
    font-size: 35px;
}

h3{
    font-size: 30px;
    margin: 0;
    padding: 0;
}

h4{
    margin: 0;
    padding: 0;
    /* font-size: 25px; */
}

p{
    font-size: 15px;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color: rgb(231, 236, 245);
    position: sticky;
    top: 0;
    left: 0;
    z-index:999;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 15px grey;
}

nav{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;    
    margin: auto ;
    background-color: rgb(231, 236, 245);
    width: 90%;
    /* border: 2px solid red; */
}


.nav-list .list-item{
    display: flex;
    position: relative;
}

.nav-list .list-item li{
    list-style: none;
    padding: 0px 15px;
    position: relative;
}

.nav-list .list-item li a{
    text-decoration: none;
    color: black;
}

.nav-list .list-item li a:hover,
.nav-list .list-item li a.active{
    color: rgb(21, 109, 68);
}

.nav-list .list-item li a.active::after,
.nav-list .list-item li a:hover::after{
    content: "";
    background:rgb(21, 109, 68) ;
    position: absolute;
    height: 2px;
    width: 30%;
    left: 20px;
    bottom: -4px;
}


/* HERO */

.hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;   
    background-position: right 0 top 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 5px 15px grey;
}

.text{
    /* margin-top: 170px; */
    margin-left: 70px;
}

.text h4{
    font-size: 18px;
    padding-bottom: 10px;
}

.text h1{
    font-size: 40px;
    font-weight: 350px;
    padding-bottom: 12px;
}

.text h1 span{
    color: rgb(21, 109, 68);
}

.text p{
    font-size: 15px;
    color: grey;
    padding-bottom: 15px;
}

.text button{
    border: none ;
    background-image: url("img/button.png");
    height: 50px;
    width: 230px;
    background-color: transparent;
    color: rgb(21, 109, 68);
}

.feature{
    width: 90%;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.feature .feature-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(207, 205, 205);
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    transition: all 0.35s;
}

.feature .feature-box:hover{
    box-shadow: -5px -5px 5px grey;
    cursor: pointer;
}

.feature .feature-box img{
    margin-top: 13px;
}

.feature .feature-box button{
    width: 100px;
    margin: 10px 0px;
    color: rgb(21, 109, 68);
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(165, 164, 164, 0.377);
}

.feature .feature-box button:hover{
    box-shadow: -5px -5px 5px rgba(165, 164, 164, 0.377);
    cursor: pointer;
}

.btn1{
    background-color: pink;
}

.btn2{
    background-color: rgb(139, 207, 198) ;
}

.btn3{
    background-color: rgb(199, 143, 199);
}

.btn4{
    background-color: rgb(218, 218, 149);
}

.btn5{
    background-color: rgb(153, 250, 250);
}

.btn6{
    background-color: antiquewhite;
}


#featured-products{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
    /* border: 2px solid black; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#featured-products h2{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 15px;
}

#featured-products p{
    color: grey;
    font-size: 15px;
}

.prdct-container{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.prdct-box{
    width: 250px;
    border: 2px solid rgba(172, 172, 172, 0.39);
    margin: 15px 0px;
    border-radius: 20px;
}

.prdct-box:hover{
    box-shadow: 5px -5px 10px rgba(128, 128, 128, 0.281);
}

.prdct-box img{
    width: 221px;
    margin: 13px 13px;
    border-radius: 20px;
}

.prdct-box p,h4{
    margin-left: 13px;
    margin-bottom: 7px;
}

.prdct-box .rating{
    display: flex;
    justify-content: space-between;
    width: 220px;
    /* border: 2px solid yellow; */
    margin: auto;
    margin-bottom: 15px;
    position: relative;
}



.prdct-box .rating .prize i{
    color: goldenrod;
    margin-bottom: 10px;
}

.prdct-box .rating .prize h4{
    color: rgb(21, 109, 68);
    margin: 0px 0px 0px 0px;
}

.prdct-box .rating .cart{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.prdct-box .rating .cart .icon{
    color: rgb(21, 109, 68);
    border: 1px solid rgba(0, 128, 0, 0.322);
    background-color: #e4f7e8;
    padding: 8px;
    border-radius: 50%;
}

#banner-home{
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: 80px;
}

#banner-home h4{
    font-size: 15px;
    margin-bottom: 15px;
}

#banner-home h2{
    font-size: 35px;
    margin-bottom: 20px;
}

#banner-home h2 span{
    color: red;
}

#banner-home button{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#card-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 580px;
    /* border: 2px solid red; */
    margin: auto;
    margin-bottom: 70px;
}

.cards-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 2px solid black; */
    color: white;
    /* position: relative; */
}


.card1 {
    background-image: url("img/banner/b17.jpg");
    width: 49%;
    height: 340px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-radius: 5px;
}

.card1:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card2:hover{
    box-shadow: 5px -5px 15px rgba(95, 95, 95, 0.281);
}

.card1 button:hover,
.card2 button:hover{
    background-color: rgb(21, 109, 68);
}

.card1 h4,h3,p,button,
.card2 h4,h3,p,button{
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.card1 h3,
.card2 h3{
    font-weight: bolder;
}

.card1 button,
.card2 button{
    padding: 10px 15px;
    border: 1px solid white;
    color: white;
    background: transparent;
    cursor: pointer;
}


.card2 {
    background-image: url("img/banner/b10.jpg");
    width: 49%;
    height: 340px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-radius: 5px;
}


.cards-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    /* border: 2px solid black; */

}


.card3 {
    background-image: url("img/banner/b7.jpg");
    width: 34%;
    height: 220px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    border-radius: 5px;
}


.card4 {
    background-image: url("img/banner/b4.jpg");
    width: 30%;
    height: 220px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    border-radius: 5px;
}


.card5 {
    background-image: url("img/banner/b18.jpg");
    width: 34%;
    height: 220px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    border-radius: 5px;
}

.card3 h5,
.card4 h5,
.card5 h5{
    color: rgb(209, 63, 37);
}